name: CI

# on: [push, pull_request]
on: [repository_dispatch, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[async,dev,test]
          pip install oauthlib>=3.2.0,<4
          pip install requests>=2.27.0,<3
          pip install requests-oauthlib>=1.2.0,<3
          pip install aiohttp>=3.7.3,<4
          pip install async-lru>=1.0.3,<3
          pip install coverage>=4.4.2
          pip install coveralls>=2.1.0
          pip install tox>=3.21.0
          pip install urllib3<2
          pip install vcrpy>=1.10.3

      - name: Run tests
        run: coverage run -m unittest discover tests